@media only screen and (max-width: 1100px) {

.Contacto {
  margin: 0px;
}
body .Redes .moviles {
  display: inline;
  width: 100%;
  float: right;
}
body .Main .Contacto form input {
  width: 85%;
}
body .Main .Contacto form textarea {
  width: 85%;
}
}
@media only screen and (max-width: 600px) {

.Contacto {
  width: 100%;
  margin-bottom: 60%;
}
.Redes {
  width: 100%;
  margin-bottom: 10%;
}

.Ubicación{
  width: 100%

}
.Ubicación iframe{
  width: 100%

}
}
