/* COLORES: #128C4E  #8C261A #024027 #401309 #2D8C5F*/

.Contacto {
  background: #128C4E;
  padding: 10%;
  text-align: center;
  margin: 35px;
  border-radius: 25px;
  max-height: 420px
  color:black;


}


.Contacto input,textarea{
  width: 90%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  color:black
  border:none;
  transition: 0.2s;
  text-align: left;
  border-top: 3px solid #128C4E;
  outline: none;

}

.Contacto input:focus {
  border-top: 3px solid black;
  text-align: left;
}
.Contacto textarea:focus {
  border-top: 3px solid black;
  text-align: left;
}
.Contacto button {
  background: #024027;
  width: 85%;
  border: 2.5px #024027 solid;
  border-radius: 15px;
  transition: 0.2s;
  font-size: 20px;
  color:white;
  padding: 5px;
  text-align: center;
}
.Contacto button:hover {
  border-radius: 20px;
  font-size: 25px;
  color:white;
  border-radius: 20px;
  padding: 10px;
  cursor:pointer;

}
