/* COLORES: #128C4E  #8C261A #024027 #401309 #2D8C5F*/

.Contacto {
  background: #128C4E;
  padding: 10%;
  text-align: center;
  margin: 35px;
  border-radius: 25px;
  max-height: 420px
  color:black;


}


.Contacto input,textarea{
  width: 90%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  color:black
  border:none;
  transition: 0.2s;
  text-align: center;
  border-top: 3px solid #128C4E;
  outline: none;

}
.Contacto input:focus {
  border-top: 3px solid black;
  text-align: left;
}
.Contacto textarea:focus {
  border-top: 3px solid black;
  text-align: left;
}
.Contacto input[type="submit"] {
  background: #8C261A;
  border: 2.5px #024027 solid;
  border-radius: 25px;
  transition: 0.2s;
  font-size: 20px;
  color:white
}
.Contacto input[type="submit"]:hover {
  background: #024027;
  border-radius: 20px;
  font-size: 25px;
  color:white;
  padding: 12.5px;
  cursor:pointer
}
.Contacto input.Parte1 {
  width: 45%;
  float: left;
}
.Contacto input.Parte2 {
  width: 45%;
  float: left;
  margin-left:1%

}
