
/* COLORES: #128C4E  #8C261A #024027 #401309*/

*{
	font-family: 'Titillium Web';
	margin:0px;
	padding: 0px;
}
body {
	background: white;
}
header {
	background: #8C261A;
	color:white;
	height: 175vh;
	width: 25%;
	float: left;
}
.FotoPerfil {
	width: 100%;
}
.FotoPerfil img {
	margin: 20%;
	border: 10px #401309 solid;
	margin-bottom: 5%;
	width: 60%;
	height: auto;
	border-radius: 50%;
}
.FotoPerfil h1,p {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2%;
	text-align: center;
}
.Navegador {

}
.Navegador ul li {
	width: calc(100%-20px);
	list-style: none;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	border-top: 5px solid #401309;
	transition: 0.5s;
}
.Navegador ul li:hover {
	background: #401309;
	cursor:pointer;
}
.Navegador ul li:hover > a{
	color:white;
	font-size: 25px;

}
.Navegador ul li a {
	text-decoration: none;
	color: rgb(152, 152, 152);
}
.Navegador ul li.active {
	background: #401309;
}
.Navegador ul li.active > a{
	color:white;
	font-size: 25px;

}
.Redes {
	border-top: 5px solid #401309;
	padding-top: 25px;
	padding: 20px;
}
.Redes li{
	margin-top: 15px;
	color:white;
	display: inline-block;
	width: 20%;
	text-align: center;
}
.Redes ul {
	display: flex;
	justify-content: space-around;
	margin-left: -8px;
}

.Redes li a{
	color: black;
	font-size: 18px;
	display: block;
	text-decoration: none;
	transition: 0.1s;
	padding: 5%;

}
.Redes li a:hover{
	background: #fff;
	border-radius: 5px;
}
.Redes li img {
	margin-top: 5px;
	width: 30px;
	color: white;

}
