/* COLORES: #128C4E  #8C261A #024027 #401309*/

@media only screen and (max-width: 1100px) {
  header {
    width: 100%;
    height: auto;
    height: 90px;
  }
  header .FotoPerfil   {

    width: 30%;
    float: left;
  }
  header .FotoPerfil img {
    border:3px solid #401309;
    margin:15px;
    float: left;
    width: 20%;
  }
  header .FotoPerfil div h1{
    margin-top: 20px;
  }
  header .FotoPerfil div p{
    display: none;
  }
  .Main {
    width: 90%;
  }
  header .Navegador nav ul li {
      display: inline-block;
      height: 90px;
      border:none;
      padding-top: 25px;
  }

  header .Redes  {
    display: none;
  }
}

@media only screen and (max-width: 815px) {

  header {
    width: 100%;
    height: auto;
    height: 200px;
  }
  header .FotoPerfil   {
    display: flex;
    justify-content: center;
    width: 100%;
    float: none;
  }
  header .FotoPerfil img  {
      height: 80px;
      margin: 15px;
      width: 80px;

  }
  header .FotoPerfil h1  {
    padding-top: 10px;
    width: 100%;
  }
  header .Navegador nav ul{
      display: flex;
      justify-content:space-around;
  }
  header .Navegador ul li {
    border-top-left-radius:20px;
    border-top-right-radius:20px;
  }
}

@media only screen and (max-width: 470px) {
  header {
    height: auto;
  }
  header .Navegador nav ul{
      display: inline;
      justify-content:start;
  }
  header .Navegador nav ul li {
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    width: 95%;
    height: auto;
    padding: 10px;
  }

}
