
/* COLORES: #128C4E  #8C261A #024027 #401309*/



.Habilidades {
  background: #128C4E;
  width:85%;
  padding: 5%;
  padding-left: 10%;
  border-radius: 25px;
}
.Habilidades h2 {
 text-align: center;
 font-size: 40px;
 padding: 10px;
 background: #8C261A;
 border-radius: 50px;
 border:solid #401309 5px;
 width: 89%;
}

.Habilidades ul {
  background: #024027;
  width: 40%;
  border-radius: 20px;
  color:white;
  display: inline-block;
  margin: 1%;
  padding: 2.5%;
  transition: 0.2s;
}
.Habilidades ul li {
  font-size: 25px;
  list-style: none;
  text-align: center;
}
.Habilidades ul li b {
  padding: 10px;
  transition: 0.3s;
}
.Habilidades ul:hover > li b{
  color: white;
  font-size: 30px;
}
.Habilidades ul:hover {
  background: #024027;
  border-radius: 20px;
  color:white
}
