
@media only screen and (max-width: 1100px) {


body .SobreMi .Text p {
  text-align: center;
  font-size: 16px;
  padding: 30px;
  margin-left: -10px
}
}
@media only screen and (max-width: 700px) {
  body .SobreMi .Text img {
    display: none;
  }

  .ExperienciaGrande .mas .Fotos img {
   width: 100%;
   float: left;
} 
  .ExperienciaGrande .mas .Fotos  {
   display: inline;
   width: 100%;
} 
.ExperienciaGrande .mas  {
   display: inline;
} 
.ExperienciaGrande .mas .Especificaciones {
   width: 100%;
   text-align: center;
   margin-top: 10%;
} 
.ExperienciaGrande .mas .Fotos img {
    float: left;
    max-width: 90%;
    max-height: 100vh;
    padding: 5%;
}

 .ExperienciaPequeña {
    width: 100%;
 }
 .Experiencias ul.Grande {
   display: inline;
 }

}


