/* COLORES: #024027 #2D8C5F*/

.Experiencias {
    width: 100%;
 }
.Experiencias ul {
    list-style: none;
}
.Experiencias ul.ExperienciasPequeñas {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.ExperienciaPequeña {
    border: 3px solid #2D8C5F;
    padding: 1%;
    border-radius: 10px;
    width: 46%;
    margin-top: 2%;
    margin-bottom: 2.5%;
}
.ExperienciaPequeña .Nombre h3{
    margin: 3%;
    font-size: 20px;
}
.ExperienciaPequeña  p {
    margin: 0px;
    padding: 0px;
    font-size: 19px;
    text-align: justify;
    margin:3%;
}


.ExperienciaGrande{
    border: 3px solid #2D8C5F;
    padding: 1%;
    border-radius: 10px;
    width: 98%;
    margin-top: 2%;
}
.ExperienciaGrande .Superior {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
}
.ExperienciaGrande .Superior .FotoExperiencia{
    width: 20%;
    padding: 2.5%;
}
.ExperienciaGrande .Superior .FotoExperiencia img{
    width: 100%;
    border-radius: 50%;
}
.ExperienciaGrande .Superior .TextoExperiencia {
    width: 89%;
    margin-top: 2%;
} 
.ExperienciaGrande  p {
    margin: none;
    padding: none;
    font-size: 17px;
    text-align: justify;
    padding-right: 2%;
    background-color: blueviolet;
    
}
.ExperienciaGrande .Superior .TextoExperiencia .Nombre {
    float: right;
    
    padding:0px;
    margin:0px;
    margin-right: 10%;
    background-color: antiquewhite;
}
.ExperienciaGrande .Superior .TextoExperiencia .Nombre img {
    padding: 0px;
    margin:0px;
    max-width: 35px;
    background: green;
    margin-top: -5%;
    margin-right: -10%;
    
} 
.ExperienciaGrande .Inferior {
    width: 100%;
    display: flex;
    justify-content: space-around;
} 
.ExperienciaGrande .Inferior .Fotos {
    width: 75%;
    display: flex;
    justify-content: space-around;
} 
.ExperienciaGrande .Inferior .Fotos img {
    float: left;
    max-width: 50%;
    max-height: 200px;
} 
.ExperienciaGrande .Inferior .Especificaciones {
    width: 25%;
    font-size: 14px;
} 
.ExperienciaGrande .Inferior .Fotos img:hover {
    transform: scale(2)
} 



@media only screen and (max-width: 1000px) {
    .ExperienciaGrande {
        width: 90%;
        margin-left: 2.5%;
        margin-bottom: 2.5%;
    }
    .ExperienciaGrande .Inferior .Fotos img {
        width: 100%;
        float: left;
    } 
    .ExperienciaGrande .Inferior .Fotos img:hover {
        transform: scale(0);
    } 
    .ExperienciaGrande .Inferior .Fotos  {
        display: inline;
        width: 100%;
    } 
    .ExperienciaGrande .Inferior  {
        display: inline;
    } 
    .ExperienciaGrande .Inferior .Especificaciones {
        width: 100%;
        text-align: center;
        margin-top: 10%;
        font-size: 18px;
    } 
    .ExperienciaGrande .Inferior .Fotos img {
        float: left;
        max-width: 90%;
        max-height: 100vh;
        padding: 5%;
    }
    .ExperienciaPequeña {
        width: 100%;
    }
    .Experiencias ul.Grande {
        display: inline;
    }
    .Experiencias ul.ExperienciasPequeñas {
        display: inline;
        justify-content: none;
        width: 100%;
    }
    .ExperienciaPequeña {
        width: 90%;
        margin-left: 2.5%;
    }
}


