/* COLORES: #024027 #2D8C5F*/



.Proyectos ul li.ProyectoGrande {
  border:3px solid #2D8C5F;
  width: 90%;
  padding: 4%;
  border-radius: 25px;
  margin: 1%;
  transition: 0.4s;
}
.Proyectos ul li {
  border-top: 5px solid white;
  height: 200px;
  list-style: none;
  float:left;
}
.Proyectos ul li a {
  text-decoration: none;
  color:black;
  text-align: center;
}
.Proyectos ul li.ProyectoGrande img {
  width: 150px;
  padding: 10px;
  padding-right: 40px;
  float: left;
}


.Proyectos ul li.ProyectoGrande p {
  padding: 20px;
  font-size: 20px;
  text-align: left;
}

.Proyectos ul li.ProyectoGrande div.Botones  {
  display: none;
  justify-content:space-around;
  margin-left: -10%;
  width: 100%;
}
/* COLORES: #024027 #2D8C5F*/
.Proyectos ul li div.Botones a.Ver{
  padding: 8px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  color:#024027;
  border: 3px solid #2D8C5F;
  transition: 0.2s;
  margin-top: 20px;

}
.Proyectos ul li div.Botones a.Ver:hover {
  background: #024027;
  color:white;
  border: 3px solid #024027;


}
.Proyectos ul li.ProyectoGrande:hover {

  animation-name: Grande;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes Grande {
    0% { height: 200px; }
    50% { height: 270px; }
    100% { height: 300px; }
}



.Proyectos ul li.ProyectoGrande:hover > div.Botones{
  display: flex;
 }
