@media only screen and (max-width: 1100px) {
 body .Main .Proyectos ul li{
   width: 90%;
   height: auto;
 }

 .Proyectos ul li.ProyectoGrande div.Botones  {
   display: flex;
   justify-content: space-around;
  }
   .Proyectos ul li.ProyectoGrande:hover {
     border-top: 5px #024027 solid;
     animation : none;
   }

}

@media only screen and (max-width: 470px) {

  .Proyectos ul li.ProyectoGrande div.Botones {
    display: inline;
  }
  .Proyectos ul li.ProyectoGrande div.Botones  a{
    width: 90%;
    display:block;

   }
   .Proyectos ul li.ProyectoGrande:hover > div.Botones{
     display: inline;

   }
    .Proyectos ul li.ProyectoGrande img {
    width: 90%;
  }

}
